<footer class="site-footer">

  <div class="footer-container">

    <div class="footer-brand">
      <h2>ARTE DESDE OTRO<br>ÁNGULO</h2>

      <div class="footer-logo">
        <img src="../assets/icons/logo_vertice.svg" alt="Vértice">
      </div>
    </div>

    <div class="footer-columns">

      <div class="footer-col">
        <h4>Explora</h4>
        <a href="../pages/artistas.html">Artistas destacados</a>
        <a href="../pages/obras.html">Obras trending</a>
      </div>

      <div class="footer-col">
        <h4>Sobre nosotros</h4>
        <a href="#">Quiénes somos</a>
        <a href="#">Partners</a>
        <a href="#">Manifiesto</a>
      </div>

      <div class="footer-col">
        <h4>Comunidad</h4>
        <a href="#">Drops</a>
        <a href="#">Noticias</a>
      </div>

      <div class="footer-col">
        <h4>Contacto</h4>
        <a href="#">FAQ</a>
        <a href="#">Soporte</a>
      </div>

    </div>

  </div>

  <div class="footer-bottom">
    <div class="footer-links">
      <a href="#">Términos de uso</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Política de cookies</a>
    </div>

    <div class="footer-social">
      <a href="#">X</a>
      <a href="#">in</a>
      <a href="#">f</a>
      <a href="#">p</a>
      <a href="#">t</a>
      <a href="#">ig</a>
    </div>
  </div>

</footer>