<footer class="site-footer">

  <div class="footer-container">

    <div class="footer-brand">
      <h2>ARTE DESDE OTRO<br>ÁNGULO</h2>

      <div class="footer-logo">
        <img src="../assets/icons/logo_vertice.svg" alt="Vértice">
      </div>
    </div>

    <div class="footer-columns">

      <div class="footer-col">
        <h4>Explora</h4>
        <a href="../pages/artistas.html">Artistas destacados</a>
        <a href="../pages/obras.html">Obras trending</a>
      </div>

      <div class="footer-col">
        <h4>Sobre nosotros</h4>
        <a href="#">Quiénes somos</a>
        <a href="#">Partners</a>
        <a href="#">Manifiesto</a>
      </div>

      <div class="footer-col">
        <h4>Comunidad</h4>
        <a href="#">Drops</a>
        <a href="#">Noticias</a>
      </div>

      <div class="footer-col">
        <h4>Contacto</h4>
        <a href="#">FAQ</a>
        <a href="#">Soporte</a>
      </div>

    </div>

  </div>

  <div class="footer-bottom">
    <div class="footer-links">
      <a href="#">Términos de uso</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Política de cookies</a>
    </div>

    <div class="social-bar">
      <a href="../pages/x.html" aria-label="X">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="../pages/linkedin.html" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="../pages/facebook.html" aria-label="Facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="../pages/pinterest.html" aria-label="Pinterest">
        <i class="fa-brands fa-pinterest-p"></i>
      </a>
      <a href="../pages/tiktok.html" aria-label="TikTok">
        <i class="fa-brands fa-tiktok"></i>
      </a>
      <a href="../pages/instagram.html" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>

  </div>

</footer>