<header class="site-header">
  <div class="container">
    
    <!-- LOGO -->
    <a href="../index.html" class="logo">
      <h2 class="ag-h2">VÉRTICE</h2>
    </a>

    <!-- NAVEGACIÓN -->
    <nav class="main-nav">
      <ul>
        <li><a href="../pages/obras.html">Obras</a></li>
        <li><a href="../pages/artistas.html">Artistas</a></li>
        <li><a href="../pages/categorias.html">Categorías</a></li>
      </ul>
    </nav>

    <!-- USUARIO -->
    <div class="user-actions">
      <a href="../pages/login.html" class="btn">Iniciar sesión</a>
      <a href="../pages/registro.html" class="btn">Registrarse</a>
    </div>

  </div>
</header>
