<header class="site-header">
    <div class="container header-grid">

        <!-- Navegación izquierda -->
        <nav class="main-nav">
            <ul>
                <li><a href="../pages/artistas.html">Artistas</a></li>
                <li><a href="../pages/obras.html">Obras</a></li>
                <li><a href="../pages/categorias.html">Categorías</a></li>
            </ul>
        </nav>

        <!-- Logo centrado -->
        <a href="../index.html" class="logo">
            <h2>VÉRTICE</h2>
        </a>

        <!-- Usuario a la derecha -->
        <div class="user-actions">
            <a href="../pages/login.html" class="user-icon" aria-label="Perfil de usuario">
                <span class="material-symbols-outlined">person</span>
            </a>
        </div>


    </div>
</header>