:root {
   /* =========================
     PRIMITIVOS DE COLOR
     (no usar directamente en UI)
  ========================= */

   --color-negro: #111111;
   --color-blanco: #F3F3F3;
   --color-grisclaro: #E5E5E5;
   --color-grismedio: #8C8C8C;
   --color-grisoscuro: #333333;
   --color-verde: #32843E;
   --color-rojo: #8B2E2F;

   /* =========================
     ESTADOS (DERIVADOS)
  ========================= */

   --color-grisoscuro-hover: var(--color-grismedio);
   --color-grismedio-hover: var(--color-grisclaro);
   --color-grisclaro-hover: var(--color-blanco);

   --color-verde-hover: #4FA15B;
   --color-rojo-hover: #A84546;

   /* =========================
     TOKENS DE FONDO
  ========================= */

   --bg-primary: var(--color-blanco);
   /* fondo principal UI */
   --bg-secondary: var(--color-grisclaro);
   /* tarjetas, bloques */

   --bg-inverse: var(--color-negro);
   /* escenas oscuras, hero, overlays */

   /* =========================
     TOKENS DE TEXTO
  ========================= */

   --text-primary: var(--color-negro);
   /* texto sobre bg-primary */
   --text-secondary: var(--color-grisoscuro);
   --text-subtitle: var(--color-grismedio);
   --text-title: var(--color-grisoscuro);

   --text-inverse: var(--color-blanco);
   /* texto sobre bg-inverse */

   /* =========================
     TOKENS DE ACCIÓN
  ========================= */

   --action-primary: var(--color-verde);
   --action-primary-hover: var(--color-verde-hover);

   --action-danger: var(--color-rojo);
   --action-danger-hover: var(--color-rojo-hover);

   /* =========================
     TIPOGRAFÍA
  ========================= */

   --font-h1: 400 3rem 'Marcellus', serif;
   --font-h2: 500 2.25rem 'Inter', sans-serif;
   --font-button: 600 1rem 'Inter', sans-serif;
   --font-text-1: 500 1rem 'Inter', sans-serif;
   --font-text-2: 500 0.75rem 'Inter', sans-serif;
}